* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FE8E82;
}

body{
    min-height: 100vh;
    margin-top: 50px;
    display: flex;
    align-items: center;
}

/* Menu */
.sideMenu {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
}

.menuItem {
    display: block;
    background-color: #b886ff;
    padding: 10px 20px;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
    color: black;
}

/* index.html */
body {
    margin: 0;
    padding: 0;
    background-color:#FE8E82;
    display: flex;
    align-items: center;
    min-height: 100vh;
    gap: 55px;
    padding-left: 20px;
}

.mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 55px;
    width: 100%;
}

.welcomeBox {
    width: 785px;
    height: 348px;
    background-color: #D9D9D9;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcomeBox h1 {
    margin: 0;
    font-size: 42px;
    background-color: #D9D9D9;
    background: none;
}

.bigButton {
    width: 584px;
    height: 174px;
    background-color: #D9D9D9;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 38px;
    transition: 0.2s;
}

.bigButton:hover {
    transform: scale(1.03);
}

/* categories.html */
.categoryContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.categoryBigBox {
    background-color: #D9D9D9;
    display: inline-flex;
    border-radius: 33px;
    font-size: 75px;
    font-weight: 900;
    width: 800px;
    height: 250px;
    padding: 10px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
}

.categoryBox{
    background-color: #D9D9D9;
    display: inline-flex;
    border-radius: 33px;
    font-size: 50px;
    font-weight: 900;
    width: 300px;
    height: 150px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.categoryGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 180px;
}

/* obtiznost.html */
.menu{
    width: 700px;
    max-width: 100%;
    height: 500px;

    border-radius: 10px;

    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
    align-items: center;
}

.title-box{
    background-color: #d9d9d9;

    padding: 15px 80px;

    border-radius: 15px;

    font-size: 30px;
    font-weight: bold;
}

.difficulty-buttons{
    width: 100%;

    display: flex;
    justify-content: center;
    gap: 20px;
}

.difficulty-btn{
    border: none;

    background-color: #d9d9d9;

    padding: 15px 35px;

    border-radius: 15px;

    font-size: 25px;
    font-weight: bold;

    cursor: pointer;

    transition: 0.2s;
}

.difficulty-btn:hover{
    transform: scale(1.05);
}

.active{
    background-color: #9f9f9f;
}

.play-btn{
    border: none;

    background-color: #d9d9d9;

    padding: 20px 100px;

    border-radius: 15px;

    font-size: 35px;
    font-weight: bold;

    cursor: pointer;

    transition: 0.2s;
}

.play-btn:hover{
    transform: scale(1.05);
}

@media (max-width: 700px){

    .menu{
        width: 100%;
    }

    .title-box{
        padding: 12px 40px;
        font-size: 24px;
    }

    .difficulty-buttons{
        gap: 10px;
    }

    .difficulty-btn{
        padding: 12px 20px;
        font-size: 18px;
    }

    .play-btn{
        padding: 16px 60px;
        font-size: 28px;
    }
}

/* quiz.html */
.quizContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.question {
    background-color: #D9D9D9;
    display: inline-flex;
    border-radius: 33px;

    /* Text */
    font-size: 75px;
    font-weight: 900;

    /* Velikost */
    width: 800px;
    height: 250px;
    padding: 10px;
    margin-bottom: 100px;

    /* Centrování*/
    align-items: center;
    justify-content: center;
}

.answersContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 180px;
}

.answer {
    background-color: #D9D9D9;
    display: inline-flex;
    border-radius: 33px;

    /* Text */
    font-size: 50px;
    font-weight: 900;

    /* Velikost */
    height: 150px;
    padding: 10px 70px;

    /* Centrování*/
    align-items: center;
    justify-content: center;
}